@charset "UTF-8";

nav	{
	width:20%;
	height:100%;
	float:left;
}

nav a	{
	display:flex;
	justify-content:center;
	align-items:center;
	width:100%;
	height:33.33%;
	padding:5%;
	text-decoration:none;
	font-size:3em;
	font-family:'Special Elite';
	text-align:center;
	overflow:hidden;
	color:White;
	word-break:break-word;
	background:url("images/greyhex.png") no-repeat;
	background-size:cover;
	transition:0.4s ease;
}

nav a:nth-of-type(1) {	background-color:#00B0FF;	}
nav a:nth-of-type(2) {	background-color:#76FF03;	}
nav a:nth-of-type(3) {	background-color:#FF0080;	}

nav a:hover	{
	text-shadow:3px 3px 0px #555;
	box-shadow:3px 0px 0px #555;
}

@media only screen and (max-width: 650px) {
	nav	{
		width:100%;
		height:20%;
		float:none;
	}
   	nav a	{
   		font-size:2em;
   		width:33.33%;
   		height:100%;
   		float:left;
   	}
   	
   	nav a:hover	{
   		box-shadow:0px 3px 0px #555;
   	}
}