@charset "UTF-8";

nav	{
	/*display:flex;
	flex-direction:column;*/
	background-color:#000033;
}

nav .qn	{
	display:flex;
	justify-content:space-around;
	align-items:center;
	width:100%;
	height:10%;
	cursor:pointer;
	background:transparent;
	border-bottom:1px solid #000088;
}

nav .qn div	{
	color:white;
	font-family:'Special Elite';
	font-weight:bold;
	text-align:center;
}

nav .cur	{
	background-color:white;
	transition:0.3s ease;
}

nav .cur div	{	color:#000033;	}

nav .qn div span	{	
	font-size:1.1em;
	color:red;
}

@media only screen and (max-width:700px)	{
	nav .qn	{
		width:10%;
		height:100%;
		border-bottom:0;
		border-right:1px solid #000088;
		float:left;
	}
}