@charset "UTF-8";

#slide-con	{
	width:100%;
	height:100%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

#slides, #circles	{
	width:80%;
	height:auto;
	text-align:center;
}

#slides	{	position:relative;	}

#slides .slide	{
	width:100%;
	display:none;
}

#slides .slide:first-of-type	{	display:block;	}

#slides .move	{
	position:absolute;
	top:0;
	width:auto;
	height:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:3em;
	font-family:Comfortaa;
	color:White;
	text-shadow:0px 0px 10px #555;
	opacity:0.3;
	cursor:pointer;
}

#slides #prev	{	left:10px;	}
#slides #next	{	right:10px;	}

#slides .move:hover	{	opacity:1;	}

#circles .circle	{
	display:inline-block;
	width:20px;
	height:20px;
	background:#AAA;
	border-radius:50%;
	margin:2%;
}

#circles .circle:hover, #circles .active	{
	background:#555;
	transform:scale(1.2, 1.2);
}

@keyframes rtlshow	{
	from	{	margin-left:110%;	}
	to	{	margin-left:0;	}
}

@keyframes ltrshow	{
	from	{	margin-left:-100%;	}
	to	{	margin-left:0;	}
}